.dot-space {
  content: ' ';
  display: block;
  width: 25%;
  height: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.boardgame {
  margin: 0;
  border-collapse: collapse;
  cursor: default;
  display: inline-block;
  position: relative;
  &__cell {
    height: 2.5em;
    width: 2.5em;
    border: 1px solid #d2d2f5;
    background-color: #fff;
    position: relative;
    &--healthy {
      background-color: #fff;
      &:hover {
        background-color: #72a5e2;
      }
    }
    &--damaged {
      &::after {
        @extend .dot-space;
        background-color: #de5435;
      }
    }
    &--sunk {
      background-color: #ffca87;
    }
    &--empty {
      &::after {
        @extend .dot-space;
        background-color: #7795e6;
      }
    }
  }
  &__row-label {
    vertical-align: middle;
    padding-right: 5px;
    font-weight: 700;
    text-align: center;
    color: #444444;
  }
}